#container {
 width: 1000px; /* Width */
 height: 2470px;
 margin: 0 auto; /* Center align */
background:#98FB98;
font-size: 15pt;
 font-family: "Times New Roman";
 font-style: normal;
}
#header{
 width: 1000px;
 height: 1310px;
 text-align: center;
 background: #98FB98;
 font-size: 15pt;
 font-family: "Times New Roman";
 font-style: normal;}
body{background:linear-gradient(to bottom, #FF0000, #FFD700);}
*{font-family:"Times New Roman";
font-style:oblique;}
h1{text-align: center;
color:#000080	;
text-height:40px;}
.menu{list-style:none;
margin:2;
padding-left: 20px;}
.menu li a {display:inline-block;
padding-left: 20px;
background:linear-gradient(to top right, #FF8C00, #32CD32);}
.menu li{display:inline-block;
	margin-left: 20px;}
	.menu li{font-size: 25pt;}
h2{ text-align: center;
	font-family: 'Lobster', cursive;
color: #D2691E;
text-height:30px;}
